# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a, b)
    else:
        return max(a, b)

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [41]:
def animal_crackers(text):
    strs = text.lower().split()
    return strs[0][0] == strs[1][0]

In [42]:
# Check
animal_crackers('Levelheaded Llama')

True

In [43]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [4]:
def makes_twenty(n1,n2):
    return n1 == 20 or n2 == 20 or n1 + n2 == 20

In [5]:
# Check
makes_twenty(20,10)

True

In [6]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [44]:
def old_macdonald(name):
    # return name[0].upper() + name[1:3] + name[3].upper() + name[4:]
    return name[:3].capitalize() + name[3:].capitalize()

In [45]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [49]:
def master_yoda(text):
    t = text.split()
    # t.reverse()
    t = t[::-1]
    return ' '.join(t)

In [50]:
# Check
master_yoda('I am home')

'home am I'

In [51]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [52]:
def almost_there(n):
    # return (n <= 100 + 10 and n >= 100 -10) or (n <= 200 + 10 and n >= 200 -10)
    return abs(100 - n) <= 10 or abs(200 - n) <= 10

In [53]:
# Check
almost_there(104)

True

In [54]:
# Check
almost_there(150)

False

In [55]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [65]:
def has_33(nums):
    '''
    last3 = False
    for n in nums:
        if n == 3 and last3 == True:
            return True
        elif n == 3:
            last3 = True
        else:
            last3 = False
    '''
    for i in range(0, len(nums) - 1):
        # if nums[i] == 3 and nums[i+1] == 3:
        if nums[i:i+2] == [3,3]:
            return True
    return False

In [66]:
# Check
has_33([1, 3, 3])

True

In [67]:
# Check
has_33([1, 3, 1, 3])

False

In [68]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [26]:
def paper_doll(text):
    return ''.join([n * 3 for n in text])

In [27]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [28]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [35]:
def blackjack(a,b,c):
    cards = [a, b ,c]
    total = sum(cards)
    if total <= 21:
        return 21
    elif 11 in cards and total - 10 <= 21:
        return total - 10
    else:
        return 'BUST'

In [32]:
# Check
blackjack(5,6,7)

21

In [39]:
blackjack(11,10,11)

'BUST'

In [33]:
# Check
blackjack(9,9,9)

'BUST'

In [34]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [69]:
def summer_69(arr):
    skip = False
    total = 0
    for a in arr:
        if a == 6:
            skip = True
        elif a == 9:
            skip = False
        elif not skip:
            total += a
            
    return total

In [70]:
# Check
summer_69([1, 3, 5])

9

In [71]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [72]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [74]:
def spy_game(nums):
    # return "007" in ''.join([n for n in nums if n == 0 or n == 7])
    return '007' in ''.join([str(n) for n in nums if n == 0 or n == 7])

In [75]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [76]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [77]:
# Check
spy_game([1,7,2,0,4,5,0])

False

In [78]:
# Check
spy_game([1,0,0,0,2,4,0,5,7])

True

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [85]:
def count_primes(num):
    count = 0
    for n in range(2, num + 1):
        if is_prime(n):
            count += 1
        
    return count   

def is_prime(num):
    for n in range(2, num):
        if num % n == 0:
            return False;
    
    return True

In [86]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [37]:
def print_big(letter):
    dic = {
        'a': ['  *  ',
              ' * * ',
              '*****',
              '*   *',
              '*   *'],
        'b': ['**** ',
              '*   *',
              '**** ',
              '*   *',
              '**** '],
    }
    for line in dic[letter]:
        print(line)

In [38]:
print_big('a')

  *
 * *
*****
*   *
*   *

## Great Job!